.venv/
.idea/

.env

web/db.sqlite3
web/media/*
web/static/styles/prepros.config

web/web/__pycache__/
web/users/__pycache__/
web/calendars/__pycache__/
web/finances/__pycache__/
web/assistance/__pycache__/
web/todo/__pycache__/

web/calendars/migrations/*
web/finances/migrations/*
web/users/migrations/*
web/assistance/migrations/*
web/todo/migrations/*