@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

$base-font: "Sofia Sans", sans-serif;
//------------------------------------
$heading-font-size: 20px;
$h1-service-font-size: 32px;
// -----------------------------------
$base-header-background-color: #040404;
$base-background-color: #0d0d0d;
$base-red-light-color: #ec4958;
$base-red-dark-color: #D93849;
$base-grey-light-color: #d0d0d0;

* {
    font-family: $base-font;
}

.btn {
    outline: none;
    background: transparent;
    padding: 2px 5px;
    border: 2px solid $base-red-dark-color;
    border-radius: 5px;
    color: $base-red-dark-color;
}

.field {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 20px;
}

.error {
    font-style: italic;
    color: $base-red-light-color;
    font-size: 14px;
}

input, textarea, input:focus, textarea:focus, input:focus:hover, textarea:focus:hover{
    background: transparent;
    outline: none;
    border: 1px solid $base-red-dark-color;
    border-radius: 6px;
    min-height: 30px;
    color: white;
    font-family: $base-font;
    font-size: 20px;
    resize: none;
}


/* CONTAINERS*/
.container-75 {
    margin: 0 auto;
    height: 100%;
    width: 75%;
}

/* SYSTEM CLASSES */
.card {
    width: 650px;
}

#file-upload-button {
    background: transparent;
    outline: none;
    border: 1px solid $base-red-dark-color;
    border-radius: 6px;
}